body{
  background: palegoldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

  font-size: 18px;
  font-family: 'DM Sans', sans-serif;
}

.App{
  display: flex;
  flex-direction: column;
  /* border:2px solid red; */
  width: 450px;
}

.App .card-head{
  background-color: hsl(10, 79%, 65%);
  display: flex;
  /* border: 2px solid green; */
  border-radius: 10px;
  justify-content: space-between;
  padding: 10px;

  /* background-color: HSL(186, 34%, 60%); */
}

.card-body{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px;
}

.App .card-head .card-head-left{
  display: flex;
  flex-direction:  column;
  color: white;
  
}

.bar-chart-div{
  /* padding: 30px; */

  /* background-color: ; */
  /* border: 2px solid red; */
  height: 200px;
}

.bar-chart-div .bar-chart{
  /* border: 2px solid green; */
  /* padding-top: 30px; */
}

.card-body .card-body-bottom{
  display: flex;
  justify-content: space-between;
}

.card-body .card-body-bottom .card-body-bottom-left{
  display: flex;
  flex-direction: column;
}

.card-body .card-body-bottom .card-body-bottom-right{
  display: flex;
  flex-direction: column;
}